<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component id="SolrClient"
                  service="MissionSearch.Clients.ISearchClient`1, MissionSearch"
                  type="MissionSearch.Clients.SolrClient`1, MissionSearch"
                  lifestyle="singleton">
      <parameters>
        
        <srchConnectionString>http://localhost:8983/solr/[INSERT CORE NAME]</srchConnectionString>

      </parameters>
    </component>

    <component id="LuceneClient"
              service="MissionSearch.Clients.ISearchClient`1, MissionSearch"
              type="MissionSearch.Clients.LuceneClient`1, MissionSearch"
              lifestyle="singleton">
      <parameters>
        <srchConnectionString>c:\testindex</srchConnectionString>
      </parameters>
    </component>


    <component id="AutoComplete"
              service="MissionSearch.Suggester.IQuerySuggester, MissionSearch"
              type="MissionSearch.Suggester.QuerySuggester, MissionSearch"
              lifestyle="singleton">
      <parameters>
        <srchConnectionString>c:\testautocomplete</srchConnectionString>
        <provider>Lucene</provider>
      </parameters>
    </component>

    <component id="Logger"
             service="MissionSearch.Util.ILogger, MissionSearch"
             type="MissionSearch.Util.MissionLogger, MissionSearch"
             lifestyle="singleton">
      <parameters>
        <logPath>App_Data\MissionSearch.log</logPath>
        <!-- Debug,Info,Error-->
        <logLevel>Error</logLevel>
      </parameters>
    </component>
    
   
    <component id="ContentIndexer" 
               service="MissionSearch.Indexers.IContentIndexer`1, MissionSearch"
               type="MissionSearch.Indexers.DefaultContentIndexer`1, MissionSearch"
               lifestyle="singleton">
                <parameters>
                  <srchClient>${SolrClient}</srchClient>
                  <sourceId>1</sourceId>
                </parameters>
    </component>

    <component id="AssetIndexer"
               service="MissionSearch.Indexers.IAssetIndexer`1, MissionSearch"
               type="MissionSearch.Indexers.DefaultAssetIndexer`1, MissionSearch"
               lifestyle="singleton">
      <parameters>
          <srchClient>${SolrClient}</srchClient>
        <threshold>50000000</threshold>
        <sourceId>2</sourceId>
      </parameters>
    </component>
  
    
  </components>
</configuration>